*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shell{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-grow: 1;
}

.sidebar{
    border:1px solid green;
    width: 40px;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.spotify-container{
    border:1px solid blue;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-bot-container{
    border: 1px solid red;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.icon-container{
    border: 1px solid yellow;
    flex-shrink: 0;
    height: 70px;
}

.playlist-container{
    border: 1px solid purple;
    background-color: burlywood;
    flex-grow: 1;
}

.user-container{
    border: 1px solid brown;
    flex-shrink: 0;
    height: 40px;
}

.upgrade-container{
    height: 50px;
    background-color: black;
    flex-shrink: 0;
}

.nav-links{
    height: 50px;
    background-color: grey;
    flex-shrink: 0;
}

.album-container{
    flex-grow: 1;
    background-color: aquamarine;

}

.nav-bot-left{
    flex-grow: 1;
    max-width: 400px;
    background-color: darkcyan;
}

.nav-bot-center{
    flex-grow: 4;
    background-color: orange;
}

.nav-bot-right{
    flex-grow: 1;   
    max-width: 400px;
    background-color: salmon;

}