*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.shell{
    width: 100%;
    height: calc(100vh - 90px);
}

.flex{
    display: flex;
}

.white-hover:hover{
    color: white;
}

.nav-bot-song-subtitle:hover{
    text-decoration: underline;
}

.upgrade-container a:hover{
    font-size: 16px;
}

#play-btn:hover{
    transform: scale(1.5) ;
}

.song-bar-progress:hover{
    background-color: #ADFF2F;
}

.song-bar-progress:hover .song-dot{
    opacity: 1;
}

.overlay{
    position: relative;
    display: block;
    margin: auto;    
}

.overlay:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;

}

.card-album:hover .overlay:after, .card-album:hover .overlay i{
    opacity: 1;
}

.overlay i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    opacity: 0;
    font-weight: bold;
    z-index: 3;
    color: white;
}


/****** INIZIO SIDEBAR  ******/

.sidebar{
    background-color: black;
    width: 40px;
    flex-shrink: 0;
    height: 100%;
    flex-direction: column;
}

.icon-container{
    flex-shrink: 0;
    flex-direction: column;
}

.playlist-container{
    flex-grow: 1;
    overflow: auto;
}

.user-container{
    flex-shrink: 0;
    flex-direction: column;
    text-align: center;
    
}

.icon-xs, .icon-xs-spotify{
    padding: 6px;
}


.icon-download{
    max-width: 15px;
    width: 100%;
    margin-bottom: 10px;
    
}

.icon-profile-user{
    width: 100%;
    max-width: 30px;
    background: grey;
    border-radius: 50%;
}
/*************  FINE SIDEBAR ****************/

/*************  INIZIO MAIN SECTION ****************/

.main-section-container{
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
}

.upgrade-container{
    padding: 40px 20px;
    background-color: #080b12;
    flex-shrink: 0;
    text-align: right;
}

.upgrade-btn{
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
}

.nav-links{
    background-color: #141922;
    flex-shrink: 0;  
}

.nav-links ul{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.nav-links li{
    padding: 10px 6px;
    list-style: none;
    text-align: center;
    font-weight: bold;
}

.nav-links ul li a, .new-playlist-container a{
    color: #878787;
    text-decoration: none;
    position: relative;

}

.nav-links ul li:first-child a::after{
    content: "";
    height: 2px;
    width: 30px;
    background-color: #ADFF2F;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50% -50%);
    
}

.album-container{
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
    background-color: #141922;
    padding: 20px ;
}

.album-container h2{
    padding-bottom: 20px;
}

.album-container h2, .card-album h4{
    color: white;
    
}

.card-album h4, .card-album h5{
    padding:6px 0;
}

h5{
    color: #878787;
}

.album-card-container{
    flex-wrap: wrap;
    gap: 4px;
    flex-grow: 1;
    padding-bottom: 30px;
    
}

.card-album{
    width: calc(100% / 2 - 4px);
    text-align: center;
    position: relative;
}

.card-album-img, .card-artist-img{
    width: 100%;
}

.card-artist-img{
    border-radius: 50%;
}

.main-section-subtitle{
    padding-bottom: 20px;
}

/*************  FINE MAIN SECTION ****************/


/*************  INIZIO BOTTOM-NAV SECTION ****************/

.nav-bot-container{
    width: 100%;
    height: 90px;
    background-color: #282828;
    color:#878787;
    z-index: 92;
    position: fixed
}

.nav-bot-left, .nav-bot-right{
    flex-grow: 2;
    align-items: center;
    max-width: 150px;
}

.nav-bot-right i{
    padding: 0 4px;
    font-size: 12px;
}

#play-btn{
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
}

.nav-bot-song-description{
    padding: 0 10px;
}

.nav-bot-left div:first-child img{
    max-width: 40px;
}

.nav-bot-song-title{
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.nav-bot-song-subtitle{
    font-size: 10px;
}

.nav-bot-center{
    flex-grow: 4;
    color: white;
    flex-direction: column;
    max-width: 200px;
    padding-top: 10px;
}

.nav-bot-right{   
    color: white;
    padding-left: 20px;
}

.icon-player-container{
    justify-content: space-between;
    align-items: center;
}


.song-bar-container{
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 10px;
    padding-bottom: 20px;
}

.song-bar{
    background-color: #5a5a5a;
    height: 4px;
    width: 80%;
    border-radius: 2px;
    margin: 0 8px;
}

.song-bar-progress{
    background-color: #c1c1c1;
    width: 40%;
    position: relative;
    border-radius: 2px;
   
}

.song-dot{
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    right: 0;
    top: -4px;
    opacity: 0;
}

/*************  FINE BOTTOM-NAV SECTION ****************/


/******** MEDIA QUERIES **************** */

@media screen and (max-width:499px){

    .display-xs-none {
        display: none;

    }
}

@media screen and (min-width: 500px) {

   /****** INIZIO SIDEBAR  ******/

    .display-xs-none {
        display:initial;    
    }

    .sidebar {
        padding:20px;
        width: 200px;
        font-size: 12px;
    }

    .home{
        border-left: 2px solid #ADFF2F;
    }

    .playlist-container {
        display:flex;
        flex-direction: column;
        color: #878787;
        padding-top: 20px;
    }
   

    .playlist-container h4{
        color: white;
        font-size: 18px; 
        padding-bottom: 10px;       
    }

    .icon-text{
        padding-left: 0;
        position: relative;
    }

    .flex-icon{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #878787;
    }

    .icon-container div.icon-text:first-child .flex-icon{
        font-size: 25px;
        color: white;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .icon-xs {
        max-width: 30px;
        padding-left: 0;
        padding-bottom: 5px;
    }

    .icon-xs-spotify{
       max-width: 45px;
       padding-right: 4px;
       padding-left: 0;
    }

    .playlist-plus{
        font-size: 40px;
        padding-right: 10px;
    }

    .new-playlist-container{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }

    .playlist-list{
        list-style: none;
        padding-top:10px;
        overflow: auto;
        flex-grow: 1;
    }

    .playlist-list li{
        padding-bottom: 20px;
        font-size: 14px;
    }
    hr{
        color: #878787;
        margin: 15px 0;
    }
    
    .icon-profile-user-text{
        color: white;
        font-weight: bold;
        margin-left: 10px;
    }

    .icon-download{
        margin-bottom: 0;
    }

    .icon-download-text{
        font-size: 12px;
        margin-left: 10px;
    }


/****** FINE SIDEBAR  ******/

/****** INIZIO NAV-BOT SECTION  ******/

    .nav-bot-left, .nav-bot-right{
        min-width: 200px;
    }

    .nav-bot-left{
        padding-left: 10px;
    }

    .nav-bot-center{
        max-width: none;
    }

    .nav-bot-left-icon i{
        display: block;
        padding-left: 10px;
    }


/*************  FINE NAV-BOT SECTION ****************/
}

@media screen and (min-width:719px) {
    
    .card-album{
        width: calc(100% / 4 - 4px);
    }

    .nav-links ul li{
        padding: 10px;
    }

    .icon-player-container{
        justify-content: center;
    }

    .icon-player-container i{
        padding: 0 20px;
    }

    .nav-bot-left-icon i{
        display: inline-block;
    }

    
} 


@media screen and (min-width:959px) {
    
    .card-album{
        width: calc(100% / 6 - 10px);
    }

    h2{
        font-size: 30px;
    }
 
    .card-album h4{
        font-size: 20px;
    }

    .nav-links{
        padding: 15px 0;
    }

    .nav-bot-left, .nav-bot-right{
        min-width: 300px;
    }

    .nav-links ul li{
        font-size: 16px;
    }

    .album-card-container{
        gap: 10px;
    }
    
    .icon-xs{
        max-width: 40px;
    }

    .sidebar{
        width: 250px;
    }

    .icon-download{
        max-width: 20px;
        
    }
}